:root {
    --color-bg: rgb(5, 0, 37);
}


body {
    background: var(--color-bg);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.hero {
    display: flex;
}

.name {
    
    margin-left: 25px;
}

h2 {
    margin-left: 25px;
}


.projects ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
}

a {
    text-decoration: none;
    color: white;
}